@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    width: 100%;
    position: relative;
}

p.main-form-text {
    font-size: 25px !important;
    font-weight: 500;
    color: #494949;
}

h3 {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
}
 
img {
    width: 100%;
    height: 100%;
}
 
form {
    position: relative;
}
